fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic[email]
pydantic-settings
redis[hiredis]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
pillow
pytesseract
openai
httpx
python-dotenv
